@media (min-width: 768px) 
{
  .box-container {
    width: 768px; /* Родительский контейнер */
  }
  .box {
    width: 48%; /* Занимает 50% от родительского контейнера */
  }
}
.font-red {
  font-style: italic;
color: #800000;
}
.font-violet {
color: #572d87;
  font-style: italic;
  font-weight: bold;
  font-weight: 700;
}
